:root {
    --dark-blue-bgclr: #0F172A;
    --gray-nav: #5c6c82;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: var(--dark-blue-bgclr);
    font-size: 16px;
}

.left-nav-btn {
    color: var(--gray-nav);
    margin-left: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-family: Karla, sans-serif;
}

#left-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 920px;
    width: 100px;
}

.left-nav-btn:hover {
    color: lightblue
}

#main-content {
    width: 600px;
    height: 500px;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 150px;
    left: 200px;
    font-family: Karla, monospaces;
}

#main-content h1 {
    font-family: monospace;
    font-size: 5rem;
}

#main-content p {
    margin-top: 80px;
}

#main-content #p2 {
    margin-top: 100px;
}

#main-content #p3 {
    margin-top: 110px;
}

@media (max-width:840px) {
    #main-content {
        width: 300px;
    }
}

@media (max-width:600px) {
    #main-content {
        width: 50vw
    }
}